PUBLIC_SITE_URL=https://www.enalcacciatv.it
VITE_SUPABASE_URL=https://xunvrmahefvawvydpcom.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_MkHxO9yaa8Iw8N6KKwsE8A_ecjkkmfT
SUPABASE_URL=https://xunvrmahefvawvydpcom.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_MkHxO9yaa8Iw8N6KKwsE8A_ecjkkmfT
STRIPE_SECRET_KEY=
